:root {
  --white: #ffffff;
  --gray-filled: #fafafb;
  --gray-counter: #f6f7f8;
  --blue: #33a0ff;
  --blue-haze: #eaf5ff;
  --red: #f53848;
  --red-haze: #ffecee;
  --red-sale: #ff4858;
  --green: #0ad00a;
  --green-haze: #e6fae6;
  --yellow: #ffc600;
  --yellow-haze: #fff9e5;
  --black: #22262a;
  --black-haze: #f6f7f8;
}

/** lvfha - Let Victoria Free Her Armies - :link :visited :focus :hover :active */

/** Reset ###############  */
/* * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
} */

form {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.form-input-text,
.form-input-text-large {
  flex-direction: row;
}

.form-input-number {
  flex-direction: row;
  align-items: center;
  width: 10px;
  background-color: var(--gray-counter);
  border-color: var(--gray-counter);
}

label {
  font-size: 10px;
}

input {
  width: 175px;
  height: 24px;
  font-family: inherit;
  font-size: 10px;
  border: 1px solid var(--gray-border);
  border-radius: 2px;
}

.input-medium {
  height: 28px;
  font-size: 12px;
}

.input-large {
  height: 36px;
  font-size: 12px;
}

.input-text {
  width: 125px;
  border-radius: 2px 0 0 2px;
}

.input-text-large {
  width: 150px;
  border-radius: 2px 0 0 2px;
}

.input-btn {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 0 2px 2px 0;
}

.input-btn-large {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 0 2px 2px 0;
}

/* see https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.div-as-btn-number {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1px; */
}

.div-as-btn-number > svg {
  width: 20px;
  background-color: var(--gray-counter);
  border-color: var(--gray-counter);
}

.input-number {
  width: 50px;
  appearance: none;
  text-align: center;
  background-color: var(--gray-counter);
}
