:root {
  --white: #ffffff;
  --gray-filled: #fafafb;
  --gray-counter: #f6f7f8;
  --gray-star: #c1c8ce;
  --blue: #33a0ff;
  --blue-haze: #eaf5ff;
  --red: #f53848;
  --red-haze: #ffecee;
  --red-sale: #ff4858;
  --green: #0ad00a;
  --green-haze: #e6fae6;
  --yellow: #ffc600;
  --yellow-haze: #fff9e5;
  --black: #22262a;
  --black-haze: #f6f7f8;
}

/** lvfha - Let Victoria Free Her Armies - :link :visited :focus :hover :active */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  border: 1px solid var(--gray-border);
}

.div-img img {
  width: 150px;
  margin-top: 15px;
}

.div-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  font-size: 10px;
}

.prices {
  display: flex;
  font-size: 13px;
  color: var(--red-sale);
  margin-bottom: 15px;
}

.priceGray {
  color: var(--gray-star);
  text-decoration: line-through;
}

.prices p {
  margin: 2px 3px;
}

.container-gray {
  border-color: var(--gray-filled);
  background-color: var(--gray-filled);
}

.container-horizontal {
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
}

.container-horizontal > .div-details {
  align-items: flex-start;
}

.container-horizontal > .div-details > .product-name {
  margin-bottom: 10px;
}

.container-horizontal > .div-details > .stars {
  margin-bottom: 10px;
}

.div-img-input > img {
  filter: opacity(0.05);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75px;
  z-index: 1;
  margin-top: -80px;
  margin: -80px auto 35px;
}

.container-beats {
  flex-direction: row;
  width: 250px;
  border: none;
}

.container-overall-inline {
  display: flex;
}

.container-inline {
  align-items: flex-start;
  height: 175px;
}

.container-inline p {
  font-size: 10px;
  color: var(--white);
  background-color: var(--red-sale);
  padding: 3px;
  margin: 5px;
}

.container-inline > .div-img {
  margin: 5px auto auto auto;
}

.div-details-inline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-left: 25px;
}

.div-details-inline > .product-name {
  margin: 0;
}

.inline-details-stars-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  font-size: 9px;
  margin-top: 5px;
}

.reviews {
  color: var(--gray-star);
}

.reviews-submit {
  color: var(--blue);
}

.div-details-inline > .prices {
  margin: 10px 0 0 0;
}

.p-sales-text {
  font-size: 8px;
  line-height: 2;
}

.div-buttons {
  display: flex;
  margin-top: 10px;
}

.div-button-rectangle-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: var(--blue);
  background-color: var(--blue-haze);
  border-color: var(--blue-haze);
}

.div-button-rectangle-cart > svg {
  margin: 0 5px;
}

.div-button-square-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--blue);
  background-color: var(--blue-haze);
  border-color: var(--blue-haze);
  margin: 0 0 0 5px;
  padding: 1px;
}
